
section {
    position: relative;
}

.appWrapper {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 20px;
    gap: 10px;
    width: 95vw;
    margin: auto;
    flex-wrap: nowrap;
    
    /* Hide the scrollbar */
    -ms-overflow-style: none; /* For Internet Explorer */
    scrollbar-width: none; /* For Firefox */
}

.appWrapper::-webkit-scrollbar {
    display: none; /* Hide scrollbar for WebKit browsers like Chrome and Safari */
}

.appContainer {
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 675px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 2.0);
    align-items: center;
    margin: 10px;
    padding-bottom: 25px;
    border-radius: 15px;
    flex-shrink: 0;
    background-color: #FFF5EE;
    /* background-color: rgb(210, 220, 224); */
    /* background-color: #FFF5EE; */
}

.appContainer p {
    margin: auto;
    width: 90%;
    font-family: "Lora", sans-serif;
    font-size: 24px;
}

.appContainer h3 {
    font-size: 32px;
    font-family: 'Lora', sans-serif;
    color: #f7d634;
    text-align: center;
    margin: 15px 0;
    grid-column: auto;
}

.project-tools {
    font-family: 'Space Mono', monospace;
    font-weight: bold;
    font-size: 24px;
}

.project-tools ul {
    display: flex;
    flex-direction:  row;
    gap: 35px;
    padding: 0;
    justify-content: center;
    list-style-position: inside;
}

.projectImages {
    width: 95%;
    height: 50%;
    object-fit: cover;
    border-radius: 15px;
    
}

.scrollButton {
    position: absolute;
    top: 40%;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.541);
    color: white;
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 10;
    padding: 10px;
    z-index: 10;
    transition: transform 0.2s ease-in-out;
    backdrop-filter: blur(4px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.scrollButton:hover {
    transform: scale(1.5);
}

.scrollButton.left {
    left: 10px;
}
.scrollButton.right {
    right: 10px;
}

.projectLinks {
    padding-top: 5px;
    padding-bottom: 12px;
    font-size: 1.75rem;
    font-family: 'Space Mono', monospace;
    width: 60%;
    height: 60px;
    text-align: center;
    margin-top: 20px;
    background-color: rgb(218, 218, 218);
    /* background-color: #babae4; */
    border: solid 1px black;
    border-radius: 25px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.projectLinks:hover {
    background-color: #adadad;
    cursor: pointer;
    transform: scale(1.15);
}
