* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
    display: grid;
    height: auto;
    gap: 20px;
    overflow-x: hidden;
}

.text {
    font-family: 'Roboto', sans-serif;
    font-size: 58px;
    color: white;
    text-align: center;

}