* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #3f51b5, #a1c4fd);
    display: grid;
    height: auto;
    gap: 20px;
    overflow-x: hidden;
}
