<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/nav-footer.css">
    <link rel="stylesheet" href="../styles/projects.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Header for navigation links -->
        <header class="main-header">
            <h1 class="site-title">Noah Whiffen</h1>
            <nav>
                <a href="index.html" class="nav-links">Home</a>
                <a href="projects.html" class="nav-links">Projects</a>
                <a href="services.html" class="nav-links">Services</a>
                <a href="about.html" class="nav-links">About Me</a>
            </nav>
        </header>

    <!-- Main content area -->
    <main>
        <!-- Coding Projects -->
        <section>
            <h2>Coding Projects</h2>
            <div class="appWrapper">
                <!-- Python Projects -->
                <div class="appContainer">
                    <img src="../images/Projects/passwordStrengthChecker.png" class="projectImages">
                </div>
                <div class="appContainer">
                    <img src="../images/Projects/payCalculator.png" class="projectImages">
                </div>
                <div class="appContainer">
                    <img src="../images/Projects/Menu.png" class="projectImages">
                </div>
                <div class="appContainer">
                    <img src="../images/Projects/yachtClubReceipt.png" class="projectImages">
                </div>

                <!-- Node.js Projects -->
                <div class="appContainer">
                    <img src="../images/Projects/passwordGenerator.png" class="projectImages">
                </div>
                <div class="appContainer">
                    <img src="../images/Projects/conferenceManager.png" class="projectImages">
                </div>

                <!-- Java Projects -->
                <div class="appContainer">
                    <img src="../images/Projects/rectangleClass.png" class="projectImages">
                </div>
                <div class="appContainer">
                    <img src="../images/Projects/triangleClass.png" class="projectImages">
                </div>
                <div class="appContainer">
                    <img src="../images/Projects/creditCard.png" class="projectImages">
                </div>
            </div>
        </section>
    
        <!-- Web Dev Projects -->
        <section>
            <h2>Web Dev Projects</h2>
            <div class="appWrapper">
                <!-- Frontend Projects -->
                <div class="appContainer">
                    <img src="../images/Projects/whiffenGene.png" class="projectImages">
                </div>
                <div class="appContainer">
                    <img src="../images/Projects/eventManager.png" class="projectImages">
                </div>
                <div class="appContainer">
                    <img src="../images/Projects/dogApi.png" class="projectImages">
                </div>

                <!-- Express.js Projects -->
                <div class="appContainer">
                    <img src="../images/Projects/authenicationPractice.png" class="projectImages">
                </div>
                <div class="appContainer">
                    <img src="../images/Projects/mathCompetition.png" class="projectImages">
                </div>
            </div>
        </section>
    </main>
    
    <!-- Footer for copyright and links -->
    <footer>
        <p class="left-footer">&copy; Noah Whiffen - December 2024. All rights &nbsp;&nbsp;reserved</p>
        <div class="center-footer">
            <a href="#" class="footer-links">Terms and Conditions</a>
            <a href="#" class="footer-links">Service Agreement</a>
        </div>
        <p class="right-footer">Icons from: <a href="https://uxwing.com/" target="_blank">uxwing.com</a></p>
    </footer>
    <script src="../script.js"></script>
</body>
</html>